@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.sidebar {

    .hr {
        width: 200px;
        margin: 8px auto 5px auto;
        height: 1px;
        gap: 0px;
        border: 1px 0px 0px 0px;
        background: #282828;

    }

    h3 {
        font-family: Montserrat;
        font-size: 14px;
        color: #B3B3B3;
    }
}


