@font-face {
    font-family: 'MyCustomFont';
    src: url('/src/font/circular-std-medium-500.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
.font{
    font-family: 'MyCustomFont' ;
}