.Player {

        position: fixed;
        height: 96px;
        bottom: 0px;
        left: 0;
        width: 100%;
        background-color: #181818;
        z-index: 1000;



}

.range {
        width: 80%;
        height: 5px;
        border-radius: 6px;
        accent-color: #ffffff;
        outline: none;
}
@font-face {
        font-family: 'MyCustomFont';
        src: url('/src/font/circular-std-medium-500.ttf') format('truetype');
        font-weight: 400;
        font-style: italic;
    }
    .font{
        font-family: 'MyCustomFont' ;
    }